In [60]:
import pandas as pd

centroid = pd.read_csv('../data/raw/australian_postcodes(1).csv')
centroid = centroid[['postcode','locality','state','long','lat']]
centroid = centroid[((centroid['postcode'] >= 3000) & (centroid['postcode'] <= 3999)) | ((centroid['postcode'] >= 8000) & (centroid['postcode'] <= 8999))]
centroid = centroid[centroid.state.isin(['VIC'])]

centroid

       postcode        locality state        long        lat
6151       3000       MELBOURNE   VIC  144.956776 -37.817403
6152       3001       MELBOURNE   VIC  144.956776 -37.817403
6153       3002  EAST MELBOURNE   VIC  144.982207 -37.818517
6154       3003  WEST MELBOURNE   VIC  144.949592 -37.810871
6155       3004       MELBOURNE   VIC  144.970161 -37.844246
...         ...             ...   ...         ...        ...
18425      8107       MELBOURNE   VIC  144.970161 -37.844246
18426      8111       MELBOURNE   VIC  144.970161 -37.844246
18427      8120       MELBOURNE   VIC  144.970161 -37.844246
18428      8205       MELBOURNE   VIC  144.970161 -37.844246
18429      8785       DANDENONG   VIC  145.208504 -38.016114

[3533 rows x 5 columns]

In [63]:
from pandas.core.frame import DataFrame

c_list = []

for i in range(0,len(centroid)):
    row = centroid.iloc[i]
    location = str(row[4]) + ' ' + str(row[3])
    c_list.append([row[0],location])

centroid_new = DataFrame(data = c_list, columns=['Postcode', 'Centroid'])

centroid_new.drop_duplicates(subset=['Postcode'], keep='first', inplace=True)

centroid_new

      Postcode               Centroid
0         3000  -37.817403 144.956776
1         3001  -37.817403 144.956776
2         3002  -37.818517 144.982207
3         3003  -37.810871 144.949592
4         3004  -37.844246 144.970161
...        ...                    ...
3528      8107  -37.844246 144.970161
3529      8111  -37.844246 144.970161
3530      8120  -37.844246 144.970161
3531      8205  -37.844246 144.970161
3532      8785  -38.016114 145.208504

[746 rows x 2 columns]

In [ ]:
centroid_new.to_csv('../data/curated/centroid.csv')